<div fxLayout="column" fxLayoutAlign="center center">
  <!--Itunes Search Header-->
  <app-header></app-header>
  <!--Input field for search-->
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Search Itunes"
      [(ngModel)]="value"
      (keyup)="searchTerm$.next($event.target.value)"
    />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!--List created after searching, returns 3 results-->
  <div *ngIf="results">
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell go-left">Song</th>
        <th class="mat-header-cell go-center">Artist</th>
        <th class="mat-header-cell go-right">Album</th>
      </tr>
      <tr class="mat-row" *ngFor="let result of results">
        <td class="mat-cell">{{ result.trackName }}</td>
        <td class="mat-cell">{{ result.artistName }}</td>
        <td class="mat-cell go-right">{{ result.collectionName }}</td>
      </tr>
    </table>
  </div>
</div>
